{% extends "blog/base.html" %}
{% if messages %}
    {% for message in messages %}
    {{message }}
    {% endfor %}
{% endif %}<br>

{% block content %}

<h1>Post</h1>


<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{ post.title }}</a>-
        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}<small>  By: {{ post.author.first_name }}
         {{ post.author.last_name}} {{ post.post_date }}

         {% if user.is_authenticated %}

            {% if user.id == post.author.id %}

                -<a href="{% url 'update_post' post.pk %}">(Edit post)</a>

                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}
        </small> <br/>

    {{ post.snippet }}</li>
    {% comment %} {{ post.body | slice:':100' | safe }}</li> {% endcomment %}
{% endfor %}
</ul>


{% endblock %}